<footer class="footer">
    <nav>
        <ul class="list">
            <a title="Ir a articles" class="link" href="https://adalab.es/" target="_blank">
                <li> articles</li>
            </a>
            <a title="Ir a books" class="link" href="https://adalab.es/" target="_blank">
                <li> books </li>
            </a>
            <a title=" Ir a events" class="link" href="https://adalab.es/" target="_blank">
                <li> events</li>
            </a>
            <a title="Ir a reason" class="link" href="https://adalab.es/" target="_blank"></a>>
            <li>reason</li>
            </a>
            <a title="Ir a tips" class="link" href="https://adalab.es/" target="_blank">
                <li> tips</li>
            </a>
        </ul>
    </nav>
    <nav>
        <ul class="list2">
            <a title="Ir a twiter" class="link" href="https://adalab.es/" target="_blank">
                <li>twitter</li>
            </a>

            <a title="Ir a instagram" class="link" href="https://adalab.es/" target="_blank">
                <li>instagram</li>
            </a>

            <a title="Ir a mastodon social" class="link" href="https://adalab.es/" target="_blank">
                <li>mastodon social</li>
            </a>
        </ul>
    </nav>
    <small>
        <ul class="list3">
            <li>&copy2022</li>
            <li> we ❤️ <i class="fa-solid fa-heart"></i>
                components
            </li>
        </ul>
    </small>


</footer>