.header {
  background-image: url(../images/cover.jpeg);
  height: 100vh;
  width: 100%;
  top: 0%;
  background-position: center;
  background-size: cover;
  top: 0%;
  margin: 0%;
  margin-left: 0;
  margin-right: 0;
}

.icon {
  background-color: #0271bc;
  width: 37px;
  height: 22px;
  margin: 0;
  top: 0;
  position: fixed;
  z-index: 100;
}
.title {
  color: white;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;
 
   
  }


.title2 {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  font-size: 50px $fontText;
  
  @media all and (min-width: 768px) {
      font-size: 80px;
      
    }
    @media all and (min-width: 768px) {
      font-size: 100px;
      width: 10ch;
      
    }  
  
}
.subtitle{
  @media all and (min-width: 768px) {
    font-size: 24 $fontParrafo;
    
  }
}

.down {
  margin-top: 50px;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 22.5px;
  padding: 10px;
}
