.section1 {
    margin-top: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 25px;
    @media all and (min-width: 1000px) {
      justify-content: center;
      align-items: left;
      margin-left: 200px;
      
     
    }
  }
  .insomnia {
    margin: 24.9px 0 0;
    padding-top: 25px;
    color: #8ccbea;
    font-size: 14px $fontParrafo;
    line-height: -10px;
  }
  .looking {
    font-size: 24px;
    text-align: left;
    text-transform: capitalize;
    font-weight: bolder;
    width: 18ch;
    font-size: 24px $fontText;
    @media tablet and (min-width: 768px) {
      font-size: 26px;
      width:auto;
        
      
     }
     @media screen and (min-width: 1000) {
        font-size: 32px;
        width: 30ch;
        
     }

  }
  .parrafo {
    font-size: 15px $fontParrafo;
    text-align: left;
    color: #4a4a4a;
    padding-bottom: 20px;
    font-size: 24px;
    @media tablet and (min-width: 768px) {
      width:100%;
      font-size: 20px;
    }
    @media screen and (min-width: 1000px){
       width: none;
    }
  }

  .button {
    color: #f26002;
    background-color: white;
    font-size: 20px;
    border-radius: 50px;
    border: 2px solid #f26002;
    height: 45px;
    width: 76px;
    margin-bottom: 20px;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 2s;
    @media tablet and (min-width: 768px) {
      
      font-size: 20px $fontParrafo;
    }
    @media screen and (min-width: 1000px){
      font-size: 32px;
      width: 160px;
      height: 45px;
    }
  
  }
  .section2 {
    background-color: #eff9ff;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
    /* media*/
   
  }
  
  .article, .article2, .article3{
     box-sizing: border-box;
     font-size: 18px;
      
  }
  .reason {
    font-size: 24px $fontText;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 25px;
   
   
  }
  .statement {
    font-weight: bolder ;
    font-size: 18px $fontText;
  }
    
  .paragraph::first-line{
    word-spacing:100vw;
    
    
  }
  .elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .more{
     border: 3px solid #f26002;
     border-radius: 60px;
     background-color: #f26002;
     color: white;
     font-size: 20px;
     margin-bottom: 25px;
     width: 182px;
     height: 45px;
     text-align: center;
     align-items: center;
  
  }
  .arrow{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    position:relative;
    top: 40px;
    padding: 10px;
    animation-name: posicion;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

@keyframes posicion{
    0%{
       transform: translate X (0); transform: translate X (0);
    }
    100%{
    transform: translate X (100%);
    }
}
