/* HOJA DE RESET*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;}

  /* FIN DE LA HOJA DE RESET*/
.header {
  background-image: url(../images/cover.jpeg);
  height: 100vh;
  width: 100%;
  top: 0%;
  background-position: center;
  background-size: cover;
  top: 0%;
  margin: 0%;
  margin-left: 0;
  margin-right: 0;
}

.icon {
  background-color: #0271bc;
  width: 37px;
  height: 22px;
  margin: 0;
  top: 0;
  position: fixed;
  z-index: 100;
}
.title {
  color: white;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;
}

.title2 {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  width: 9ch;
  font-size: 50px;
  margin-right: 50px;
}

.down {
  margin-top: 50px;
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  padding: 10px;
}
/* Comienza el main*/
.section1 {
  margin-top: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 25px;
}
.insomnia {
  padding-top: 25px;
  color: #8ccbea;
  font-size: 14px;
  line-height: -10px;
}
.looking {
  font-size: 24px;
  text-align: left;
  text-transform: capitalize;
  font-weight: bolder;
  width: 18ch;
}
.parrafo {
  font-size: 15px;
  text-align: left;
  color: #4a4a4a;
  padding-bottom: 20px;
}
.button {
  color: #f26002;
  background-color: white;
  font-size: 20px;
  border-radius: 50px;
  border: 2px solid #f26002;
  height: 40px;
  width: 70px;
  margin-bottom: 20px;
}
.section2 {
  background-color: #eff9ff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article{
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.reason {
  font-size: 24px;
  text-transform: capitalize;
  margin-top: 25px;
}
.statement {
  font-weight: bolder;
  
}

.more{
   border: 3px solid #f26002;
   border-radius: 60px;
   background-color: #f26002;
   color: white;
   font-size: 20px;
   margin-bottom: 25px;

}
.arrow{
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  position:relative;
  top:25px;
  padding: 10px;

}
.footer {
   background-color: #304268;
   color:  white;

 }

.list{
   text-transform: capitalize;
}